h1 Worker
= render "form"

h2 = link_to("Payouts", payouts_path(worker_id: @worker.id))

h2 = link_to("Work logs", work_logs_path(worker_id: @worker.id))

h2 = link_to("Work reviews", work_reviews_path(worker_id: @worker.id))
